$font: "Victor Mono", Arial !default;
$fontSemi: "Victor Mono Medium", Arial !default;
$fontBold: "Victor Mono Bold", Arial !default;
$mainColor: #00CCFF !default;
$black:	#0e1111 !default;
$gray: #A8A9AD !default;
$white: #f1f1f1;
$fontSize: 13px !default;
$footerHeight: 60px !default;
